## Global options

{
  ## Uncomment for debug logging
  # debug
}


## Snippets ##

(sad) {
  respond "Down for maintenance, please check back later :("
}

(robots) {
  header X-Robots-Tag "noindex"
}

(security) {
  header {
    # No Google
    X-Robots-Tag "noindex"

    Access-Control-Allow-Origin {host}

    # Tweaked to work with all the sites (no iframe)
    # Not the safest
    # !!! DISABLED: this was causing a NS_BINDING_ABORTED in Jellyfin on some requests, no idea why
    # Content-Security-Policy "default-src https: 'unsafe-inline' 'unsafe-eval' data: connect-src 'self' ws: frame-ancestors 'none'"

    # No iframes
    X-Frame-Options: "DENY"

    # Only connect to this site via HTTPS for the two years (recommended by MDN)
    Strict-Transport-Security: max-age=63072000

    # Block pages from loading when they detect reflected XSS attacks
    X-XSS-Protection: "1; mode=block"

    # Prevent browsers from incorrectly detecting non-scripts as scripts
    X-Content-Type-Options: "nosniff"
  }
}

(logging) {
  log {
    output file /logs/access.log
  }
}

## Authentication ##

# Old SSO https://blog.sjain.dev/caddy-sso/
# Old basic auth: https://josheli.com/knob/2021/02/24/single-sign-on-in-caddy-server-using-only-the-caddyfile-and-basic-authentication/

(internal-only) {
  @external {
    not remote_ip 100.64.0.0/10 192.0.0.0/8
  }

  handle @external {
    templates
    header Content-Type text/plain
    respond "Access denied {{.RemoteIP}}" 403
  }
}

# Test for the VPN
secure.gserver.club {
  import logging
  import security
  import internal-only

  templates
  header Content-Type text/plain
  respond "Access granted {{.RemoteIP}}"
}


## Servers ##

gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:7000
}

docs.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:8100
}

jellyfin.gserver.club {
  import logging
  import robots # Putting this back since not using `security`
  # import security
  
  #handle /web/* {
  #	rewrite /web/index.html
  #	reverse_proxy http://127.0.0.1:8096
  #}
  
  #rewrite /web/* /web/index.html
  
  reverse_proxy 127.0.0.1:8096
}

# Redirect for old jellyfin
http://jelly.fin {
  redir https://jellyfin.gserver.club{uri}
}

files.gserver.club {
  import logging
  import security
  import internal-only

  root * /shared-files
  file_server browse
}

public.gserver.club {
  import logging
  import security

  root * /shared-files/public
  file_server
}

paperless.gserver.club {
  import logging
  import security
  # import internal-only # DANGEROUS exposing this!

  reverse_proxy 127.0.0.1:8300
}


## Monitoring ##

# cockpit.gserver.club {
# 	import security
# 	import external
# 	# Can't use basic auth here because Cockpit uses it :(
# 	# So just block instead
# 	respond @external "Access denied" 403

# 	reverse_proxy 127.0.0.1:9090
# }


netdata.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:19999
}

speedtest.gserver.club {
  import logging
  import security
  
  reverse_proxy 127.0.0.1:8200
}

prometheus.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:9090
}

grafana.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:9100
}

goaccess.gserver.club {
  import logging
  import security
  import internal-only

  root * /data/goaccess
  file_server
}

## Torrenting ##

transmission.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:9091
}

jackett.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:9117
}

sonarr.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:8989
}

radarr.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:7878
}

bazarr.gserver.club {
  import logging
  import security
  import internal-only

  reverse_proxy 127.0.0.1:6767
}

ombi.gserver.club {
  import logging
  import security

  reverse_proxy 127.0.0.1:3579
}
